.cta-section {
    background: url('images/happy faces.jpg') center/cover no-repeat;
    padding: 80px 20px;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    position: relative;
    overflow: hidden;
}

.cta-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}

.cta-content {
    position: relative;
    z-index: 2;
    margin: 0 auto;
}

.cta-content h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.getinvolved {
    text-align: center;
}

.Address {
    margin-top: 2%;
    width: 30%;
    text-align: left;
}

.Contact{
    position: absolute;
    top: 67%;
    right: 20px;
    width: 30%;
    text-align: right;
}
.cta-content p {
    font-size: 1.2rem;
    margin-bottom: 30px;
}

.cta-button {
    background: #ff6600;
    color: white;
    padding: 15px 30px;
    border: none;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s;
}

.cta-button:hover {
    background: #e65c00;
}

.Follow{
    width: 20%;
    position: absolute;
    text-align: center;
    justify-content: center;
    left: 40%;
    top: 250px;
}

.social-links {
    display: flex;
    justify-content: center;
  }
  
  .social-links a {
    text-decoration: none;
    width: 40px;
    height: 40px;
    color: #fff;
    border: 2px solid white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.4rem;
    transition: all 0.4s ease;
    z-index: 10;
    position: relative;
  }
  
  .social-links a:hover {
    color: #fff;
    border-color: #fff;
  }
  