*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}
body{
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
}
.contact-bg {
    height: 40vh;
    background: url(field1.jpeg);
    background-position: 50% 100%;
    background-repeat: no-repeat;
    background-size: cover; /* Ensures the image covers the entire element */
    background-attachment: fixed;
    text-align: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contact-bg h3{
    font-size: 1.3rem;
    font-weight: 400;
}
.contact-bg h2{
    font-size: 3rem;
    text-transform: uppercase;
    padding: 0.4rem 0;
    letter-spacing: 4px;
}
.line div{
    margin: 0 0.2rem;
}
.line div:nth-child(1),
.line div:nth-child(3){
    height: 3px;
    width: 70px;
    background:#fff ;
    border-radius: 5px;
}
.line{
    display: flex;
    align-items:center;
}
.line dive :nth-child(2){
    width: 10px;
    height: 10px;
    background: #fff;
    border-radius: 50%;
}
.text{
    font-weight: 300;
    opacity: 0.9;
}
.contact-bg .text{
    margin: 1.6rem 0;
}
.contact-body{
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 1rem;
}
.contact-info{
    margin: 2rem 0;
    text-align: center;
    padding: 2rem 0;
}
.contact-info span{
    display: block;
}
.contact-info div{
    margin: 1rem 0;
    padding: 0rem;
}
.contact-info span .fas{
    font-size: 2rem;
    padding-bottom: 0.9rem;
    color: slateblue;
}
.contact-info div span:nth-child(2){
    font-weight: 500;
    font-size: 1.1rem;
}
.contact-info .text{
    padding-top: 0.4rem;
}
.contact-form{
    background: url("NGO PHOTOS/contact.png") no-repeat center center;
    background-size: cover; 
    background-position:left;
    padding: 30px; 
    color: white; 
    padding: 2rem 0;
    border-top: 1px solid #c7c7c7;
}
.contact-form .form{
    padding-bottom: 1rem;
    justify-content: left;
}
.form-control{
    width: 50%;
    border: 1px solid #c7c7c7;
    border-radius: 5px;
    padding: 0.6rem;
    margin: 0.5rem 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    outline: 0;
}
.form-control:focus{
    box-shadow: 0 0 6px  rgba(48,48,48,0.5);
}
.contact-form form div{
    display:grid;
    grid-template-columns:repeat(2, 1fr);
    column-gap: normal;
}
.contact-form p{
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    color:rgba(48,48,48,0.5); 
}
.send-btn{
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    text-transform: uppercase;
    color:#fff;
    background: rgb(0, 32, 128);
    border: none;
    border-radius: 5px;
    padding: 0.7rem 1.5rem;
    cursor: pointer;
    transition: all 0.4s ease;
}
.send-btn:hover{
    opacity:0.8;
}
.contact-form > div img{
    width: 85%;
}
.contact-form > div{
    margin: 0 auto;
    text-align: center;
}
.contact-footer{
    padding: 2rem 0;
    background: rgb(0, 32, 128);
}
.contact-footer h3{
    font-size: 1.3rem;
    color: #fff;
    margin-bottom: 1rem;
    text-align: center;
}
.social-links{
    display: flex;
    justify-content: center;
}
.social-links a{
    text-decoration: none;
    width: 40px;
    height: 40px;
    color: #fff;
    border: 2px solid white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.4rem;
    transition: all 0.4s ease;        
}
.social-links a:hover{
    color: #fff;
    border-color: #fff;
}
@media screen and (min-width: 768px){
    .contact-bg .text{
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
    .contact-info{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (min-width:992 px) {
    .contact-bg .text{
        width: 50%;
    }
    .contact-form{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }
    
}
@media  screen and (min-width:1200px) {
    .contact-info{
        grid-template-columns: repeat(4, 1fr);
    }
}










